---
layout: base.njk
title: libmeowcat
tags: projects
description: Standard library for all my projects, written in Java + Kotlin.
---

<h1>libmeowcat: for all those most used features</h1>

<p>libmeowcat is a library I wrote to be used in my projects. It has an API for most things I use (quick path, nio/io, and networking).</p>

<a href="https://git.meowcat.site/meowcat/libmeowcat">Source code</a>
<a href="https://pkg.meowcat.site/#browse/browse:maven-public:site%2Fmeowcat%2Flibmeowcat%2F1.0%2Flibmeowcat-1.0-jar-with-dependencies.jar">Maven repository</a>