---
layout: base.njk
title: Pickle Network Debugger
tags: projects
description: A network debugger and visualiser, written in Kotlin
---

<h1>Pickle Network Debugger</h1>
<p>
  The Pickle Network Debugger (PKN.kt) is a network debugger and visualiser
  written in Kotlin. It is powerful and easy to use, with automatic probing and
  it is able to visualise traffic outside of the LAN.
</p>

<a href="https://git.meowcat.site/meowcat/PickleNetworkDebugger">Source Code</a>
