---
layout: base.njk
title: Pickle Network Debugger
tags: projects
description: A network debugger and visualiser, written in Kotlin
---

<h1>Pickle Network Debugger</h1>
<p>
  The Pickle Network Debugger (PKN.kt) is a network debugger and visualiser
  written in Kotlin. It is powerful and easy to use, with automatic probing and
  it is able to visualise traffic outside of the LAN.
</p>

<h2>PKN.kt features</h2>
<ul>
  <li>Free and Open Source, forever</li>
  <li>Traffic visualiser and debugger included</li>
  <li></li>
  <li>Ability to see external and internal traffic</li>
  <li>Ability to see which devices/IP addresses send the most packets</li>
</ul>

<a href="https://git.meowcat.site/meowcat/PickleNetworkDebugger">Source Code</a>
