<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# This is the base template for the site–other templates extend this one #}
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ metadata.description }}" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  </head>
  <body>
       <header>
            <a href="/" class="home-link">{{ metadata.title or "meowcat's blog" }}</a>
            <span class="version-meta">Ver. 1.0J</span>
        </header>
    <main>
    
    {# Page or post content will appear here #}
  
    {{ content | safe }}
    
    </main>
    <footer class="footer">
     <div>
     <a href="github.com/meowcat767/site">View on GitHub</a>
     </div>
    </footer>
   
  </body>
</html>
