---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home Page - meowcat767's Website">
	<div class="welcome-box">
		<h2>Home Page</h2>
		<img src="/images/banner.jpg" alt="Landscape Banner" />
		<p>Welcome to my personal website! This is a place for me to talk about various things that no one really cares about.</p>
	</div>

	<div class="updates-box">
		<h3>Updates</h3>
		<ul>
			<li>
				<strong>25/05/2026 - Started building V5</strong>
			</li>
		</ul>
	</div>
</BaseLayout>
