---
layout: base.njk
title: Portfolio
---

<h1>{{ title }}</h1>

{% from "components/portfolio-card.njk" import portcard %}

<div class="project-grid">
    {% for project in collections.portfolio %}
        {{ portcard(project) }}
    {% endfor %}
</div>